body {
	background-color: #141c2f;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.header h1 {
	color: #c9cbd0;
}

.card {
	background-color: #1f2a48;
	border-radius: 22px;
	margin-top: 30px;
	width: 30vw;
	height: 65vh;
}

.main > h2 {
	color: #c9cbd0;
	position: relative;
	left: 40px;
	margin: 0;
	max-width: 20vw;
}
.main > p {
	color: #c9cbd0;
	position: relative;
	left: 40px;
	margin: 20px 0;
	width: 24vw;
	max-width: 40vw;
}
.join_date {
	color: #c9cbd0;
	margin: 10px 0;
	position: relative;
	left: 40px;
	font-weight: bold;
}
.main {
	color: #2f3239;
}

.image {
	border-radius: 50%;
	width: 8rem;
	height: 8rem;
	padding: 1rem 3rem;
}

.info {
	list-style-type: none;
	display: flex;
	padding-right: 0;
	color: #c9cbd0;
}

.info li {
	display: flex;
	position: relative;
	align-items: center;
	padding-right: 20px;
	max-width: 20vw;
	font-weight: bold;
}

.contact_details {
	position: relative;
	list-style-type: none;
	color: #c9cbd0;
}

.contact_details li {
	padding: 10px 0;
}

#search {
	background-color: #007afc;
	color: #bbecff;
	border: none;
	border-radius: 5px;
	height: 30px;
	width: 60px;
	font-weight: bold;
	cursor: pointer;
}

#text {
	height: 25px;
	width: 200px;
	border-radius: 20px;
}

#text::placeholder {
	color: #566175;
	font-weight: 500;
	padding-left: 1.5rem;
}
#text:focus {
	color: #566175;
	/* padding: 5px; */
	text-indent: 10px;
}

.searchbar i {
	color: #cbd3e0;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
}

.contact_details > a {
	text-decoration: underline;
	color: #cbd3e0;

}